[Unit]
Description=My Discord Bot
After=network.target

[Service]
Type=simple
User=pi  
Group=pi
WorkingDirectory=/home/pi/discord_vxtwtitter_bot
ExecStart=/usr/bin/python3 /home/pi/discord_vxtwitter_bot/bot.py
Restart=always
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target